
<%- include("../partials/userHeader") %>
<main>
 
  <div class="card">
        <div class="text-center">
          <h2 class="mt-20 ">Order Details</h1>
        </div>
    <div class="card-body">
      <div class="col-md-13">
         
       

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Order Id</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Orderd On</th>
                        <th class="col-md-1">Total Amount</th>
                        <th class="col-md-1">Payment Method</th>
                        <!-- <th class="col-md-1 text-center">Quantity</th> -->
                        <th class="col-md-2">List/Unlist</th>
                        <th class="text-center col-md-1">View Details</th>
                    </tr>
                </thead>
                <tbody>

                 
                        <tr>
                            <td class="col-md-2 ">
                              <div class="itemside">
                                <div class="left">
                                    <img src="/public/uploads/product-images/" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                
                            </div>
                            </td>
                            <td class="col-md-2 align-self-center align-items-center">prodcutDetails</td>
                            <!-- <td class="col-md-2 "><//%= productDetails[i].newfield[0].name %></td> -->
                            <td class="col-md-2 ">
                              category
                          </td>
                            <td class="col-md-1 text-center">hai</td>
                            <td class="col-md-1 text-center">hello</td>
                            <!-- <td class="col-md-2 text-center"><%=// productDetails[i].regularPrice  %></td> -->
                           
                            <td class="col-md-2 col-action">
                                <div class="">
                                    
                                </div>
                            </td>
                            <td class="col-edit col-md-1 text-center  ">
                                <a href="/admin/productEdit?id" class="btn btn-md font-sm btn-action btn-warning" style="width: 100%">Edit</a>
                            </td>
                        </tr>
                    
                
                  
                </tbody>
              </table>
          </div>
        </div>
        
      
        
        

        
     <!-- .row // -->
    </div> <!-- card body .// -->
</div> <!-- card .// -->
</main>