<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="product-price-section">
        <div class="current-price primary-color">
            <span class="price-symbol text-brand">₹</span>
            <span class="price font-lg"><%= products[0].salePrice %></span>
        </div>
        <% if (products[0].regularPrice) { %>
            <div class="old-price font-md text-muted">
                <span class="strike-through">₹<%= products[0].regularPrice %></span>
            </div>
        <% } %>
        <% if (products[0].regularPrice && products[0].salePrice) { %>
            <div class="save-price font-md color3">
                Save ₹<%= products[0].regularPrice - products[0].salePrice %>
            </div>
        <% } %>
    </div>
    
</body>
</html>