<%- include("../partials/adminHeader") %>

<section class="content-main">
        
    

    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Sales Report</h2>

        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">


                <div class="row">
                    <div class="col-lg-2 col-6 col-md-3">
                        Monthly
                        <select class="form-select" onchange="location.href='/admin/monthlySalesReport?monthly=' + this.value">
                            <% if (locals.salesMonthly) { %>
                                <% const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                                <% for (let i = 0; i < months.length; i++) { %>
                                    <option value="<%= i + 1 %>" ><%= months[i] %></option>
                                <% } %>
                            <% } else if (locals.salesYearly) { %>
                                <option value="salesYearly" selected>salesYearly</option>
                                <option value="salesToday">salesToday</option>
                                <option value="salesWeekly">salesWeekly</option>
                                <option value="salesMonthly">salesMonthly</option>
                            <% } %>
                        </select>
                        
                    </div>
                    <div class="col-md-2 col-6">
                        <p>custom Date</p>
                        <input type="date" id="selectedDate" class="form-control" value="">
                        
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row">
                            <div class="col-md-6 col-6 text-center"> <!-- Adjusted column class to make both text and input fields appear on the same line -->
                                <p>Starting Date</p>
                                <input type="date" id="startdate" class="form-control" value="">
                            </div>
                            <div class="col-md-6 col-6 text-center"> <!-- Adjusted column class to make both text and input fields appear on the same line -->
                                <p>Ending Date</p>
                                <input type="date" id="enddate" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 pt-4 col-md-6 ms-auto text-md-end">
                        <a href="#" id="createSalesReport" class="btn btn-primary mb-2" onclick="downloadPdf()">Generate PDF</a>
                        <a href="" id="generateExcel" class="btn btn-success mb-2">Download Excel</a>
                    </div>
                </div>
                
            </div>
        </header>
    </div>




    <div class="right mt-5 container" >
        <div id="myTable">
        <table id="salesTable" class="table table-hover">
            <thead>
                TotalCount:lenght
                <tr>
                    <th>#</th>
                    <th> data ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date</th>
                    <th scope="col">payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">coupon</th>
                    <th scope="col" class="text-end"> Price </th>
                </tr>
            </thead>
            <tbody>
                 

              
                           
                        </td>
                        <td class="text-end">
                           
                        </td>
                    </tr>

                    
            </tbody>
        </table>
       
    </div>
      



       
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


      <script>

